<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz Creation | Quizify | TUA</title>
</head>

<body>
  <div class="container mt-5">
    <p>Create a new quiz with multiple-choice, true/false, or 4-option questions.</p>
    <form id="quiz-form" action="/api/create-quiz" method="POST">
      <h3>Quiz Details</h3>
      <div class="form-group">
        <label for="title">Title: </label>
        <input type="text" class="form-control" id="title" name="title" required>
      </div>
      <br>
      <div class="form-group">
        <label for="description">Description: </label>
        <textarea class="form-control" id="description" name="description" rows="1"></textarea>
      </div>
      <h3>Quiz Questions</h3>
      <div id="quizContainer">
        <div class="quiz mb-4" id="quiz1">
          <br>
          <div class="form-group">
            <label for="question1">Question</label>
            <input type="text" class="form-control" id="question1" name="quiz[0][question]" required>
          </div>
          <div class="form-group">
            <label for="quizType1">Select Quiz Type</label>
            <select class="form-control" id="quizType1" name="quiz[0][type]" onchange="showOptions(this, 1)">
              <option value="4-options">4 Options</option>
              <option value="2-options">2 Options</option>
              <option value="true-false">True/False</option>
            </select>
          </div>
          <div class="options" id="options1">
            <!-- Options will be dynamically added here -->
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-secondary mt-2" onclick="addQuiz()">Add Another Quiz</button> <br> <br>
      <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
  </div>

  <script src="./js/create-quiz.js"></script>
</body>

</html>