<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quizify | TUA </title>
</head>

<body>
  <h1>Welcome!!</h1>
  <div style="display:'flex'; justify-content:'center'; align-items:'center'; flex-direction:'column'">

    <h1>Welcome!</h1>
    <a href="/create-quiz"><button style="font-size:'24px'; padding:'10px 20px'; margin-bottom:'10px'">Create!</button> </a>
    <br />
    <input type="text" placeholder="Enter the 6 digit code" style="margin-bottom:'10px'" />
    <br />
    <button style="font-size:'18px'; padding:'8px 16px'">Join</button>
    <br />
    <a href="/logout"><button style="font-size:'18px'; padding:'8px 16px'">Logout</button> </a>
    <br />
    <a href="/my-quizzes"><button style="font-size:'18px'; padding:'8px 16px'">My Quizzes</button> </a>
  </div>
  <p>your ID is <%- user.id %></p>
  <p>your name is <%- user.last_name %></p>
  <p>your email is <%- user.email %></p>
</body>

</html>